<% provide:title, t("about.title") %>
<h1><%= t "about.title" %></h1>
<p>
  <%= t "about.content1" %>
  <a href="http://www.railstutorial.org/"><em><%= t "about.link1" %></em></a>
  <%= t "about.content2" %>
  <a href="http://www.railstutorial.org/book"><%= t "about.link2" %></a>
  <%= t "about.content3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "about.link3" %></a>
  <%= t "about.content4" %>
  <a href="http://rubyonrails.org/"><%= t "about.link4" %></a>.
  <%= t "about.content5" %>
</p>
