<% provide:title, t("help.title") %>
<h1><%= t "help.header" %></h1>
<p>
  <%= t "help.content1" %>
  <a href="http://www.railstutorial.org/help"><%= t "help.link1" %></a>.
  <%= t "help.content2" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "help.link2" %></em>
  <%= t "help.content3" %></a>.
</p>
