<footer class="footer">
  <small>
    <%= t "partial.footer.content1" %>
      <a href="http://www.railstutorial.org/">
    <%= t "partial.footer.link1" %></a>
    <%= t "partial.footer.content2" %>
      <a href="http://www.michaelhartl.com/"><%= t "partial.footer.link2" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("partial.footer.about"), about_path %></li>
      <li><%= link_to t("partial.footer.contact"), contact_path %></li>
      <li><%= link_to t("partial.footer.news"),
       href="http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
